.carrossel-titulo{
    font-family: var(--font-principal);
    color: var(--laranja);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.card-descricao{
    display: flex;
    justify-content: space-between;
}

.card-botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}