.carrossel-titulo{
    font-family: var(--font-principal);
    color: var(--laranja);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 0.5em 0;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.card-descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card-botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao-titulo-texto{
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 700;
    color: var(--laranja);
}

.descricao-titulo{
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;

}

.descricao-texto{
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--preto);
}

.botoes-ancora{
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--laranja);
    color: var(--branco);
    text-decoration: none;
    padding: 1em 2.2em;
}

.botao-item{
    margin: 0 0.5em;
}