.cabecalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container-imagem{
   padding: 1em;
}

.lista-menu{
    display: none;
    width: 60vw;
}

.container-checkbox:checked ~ .lista-menu{
    display: block;
    position: absolute;
    top: 100%;
}

.lista-menu-titulo , .lista-menu-item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo{
    color: var(--laranja);
    font-family: var(--font-principal);
    font-weight: bold;
}

.lista-menu-link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--font-principal);
    font-weight: 400;
}

.container-checkbox{
    display: none;
}