.cabecalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container-imagem{
   padding: 1em;
}

.lista-menu{
    display: none;
    width: 60vw;
}

.container-checkbox:checked ~ .lista-menu{
    display: block;
    position: absolute;
    top: 100%;
    z-index: 10;
}

.lista-menu-titulo , .lista-menu-item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo{
    color: var(--laranja);
    font-family: var(--font-principal);
    font-weight: bold;
}

.lista-menu-link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--font-principal);
    font-weight: 400;
}

.container-checkbox{
    display: none;
}

.container-titulo{
    display: none;
}

.opcoes-item{
    display: none;
}

.opcoes-link{
    display: none;
}

@media screen and (min-width:1024px) {

    .container-titulo , .container-titulo--negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .container-titulo{
        font-weight: 400;
        display: block;
    }

    .container-titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes-item{
        padding: 0 1em;
        text-transform: uppercase;
        font-family: var(--font-principal);
        font-size: 16px;
        font-weight: 400;
        display: block;
        
    }
    
    .opcoes-link{
        color: var(--preto);
        text-decoration: none;
        display: block;
        

    }

    .imagem-container{
        display: none;
    }

    .cabecalho-menu-hamburguer{
        display: none;
    }

    .opcoes-botao:checked ~ .lista-menu{
        display: block;
        width: auto;
        position: absolute;
        top: 100%;
        z-index: 10;
    }

    .opcoes-botao{
        display: none;
    }
}